<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is my Django html page</title>
</head>
<body>
    Welcomes you!!!! 
    {{variable}} 
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae suscipit, repudiandae veritatis libero aut accusantium amet debitis eligendi eius nemo exercitationem culpa natus repellat atque dolorum recusandae minus consequuntur officia? 
</body>
</html>